@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --clr-primary: #04293A;
  --clr-secondary: #064663;
  --text-primary: #ECB365;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--clr-primary);
  color: #fff;
}

.button {
  width: 4rem;
  height: 2rem;
  background-color: #ECB365;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: var(--clr-primary);
  border: 2px solid #ECB365;
  color: #ECB365;
  width: 4.3rem;
  font-size: 1.2rem;
}